In [1]:
# coding:utf-8

import pandas as pd

xgb100 = pd.read_csv('../datas/xgb_40_filter_yval_pred')
adboost80 = pd.read_csv('../datas/adboost_80_filter_yval_pred')
lgb80 = pd.read_csv('../datas/lgb80_filter_yval_pred')

In [2]:
xgb100 = xgb100.sort_values('y',ascending=False).reset_index(drop=True)
adboost80 = adboost80.sort_values('y',ascending=False).reset_index(drop=True)
lgb80 = lgb80.sort_values('y',ascending=False).reset_index(drop=True)

In [3]:
# 融合方法一
bs = set(xgb100.loc[:20]['rowkey'].values.tolist() + \
    adboost80.loc[:25]['rowkey'].values.tolist() + \
    lgb80.loc[:12]['rowkey'].values.tolist())

In [6]:
#xgb100['rowkey'].map(lambda x:x in bs)

In [26]:
d1 = xgb100[xgb100['rowkey'].map(lambda x:x in bs)]
d2 = adboost80[adboost80['rowkey'].map(lambda x:x in bs)]
d2.columns = ['is_risk','rowkey','y2']
d3 = lgb80[lgb80['rowkey'].map(lambda x:x in bs)]
d3.columns = ['is_risk','rowkey','y3']

d1.head()

   is_risk  rowkey         y
0        1  755883  0.979718
1        1  759124  0.932931
2        1  758150  0.918475
3        1  757002  0.911895
4        1  759540  0.905213

In [52]:
d['a'] = -1
d['a'] += d['rowkey'].map(lambda x:1 if x==759124 else 0)
d['a'] += d['yy'].map(lambda x:1 if x>=0.924840 else 0)

d.head()

,is_risk,rowkey,y,y2,y3,yy,yymin,yymax,a
0,1,759124,0.932931,0.509323,0.984288,1.442254,0.509323,0.984288,1
1,1,757002,0.911895,0.504133,0.924840,1.416028,0.504133,0.924840,0
2,1,756804,0.902701,0.502972,0.896534,1.399506,0.502972,0.902701,0
3,1,758150,0.918475,0.504544,0.864071,1.368615,0.504544,0.918475,0
4,1,759540,0.905213,0.512862,0.851826,1.364688,0.512862,0.905213,0

In [27]:
d2.head()

   is_risk  rowkey        y2
0        0  884465  0.526404
1        1  929869  0.516687
2        1  757171  0.515470
3        1  785025  0.515455
4        1  737666  0.513542

In [28]:
d = d1.merge(d2[['rowkey','y2']],on='rowkey')
d = d.merge(d3[['rowkey','y3']],on='rowkey')

d.head()

   is_risk  rowkey         y        y2        y3
0        1  755883  0.979718  0.501715  0.835978
1        1  759124  0.932931  0.509323  0.984288
2        1  758150  0.918475  0.504544  0.864071
3        1  757002  0.911895  0.504133  0.924840
4        1  759540  0.905213  0.512862  0.851826

In [44]:
d['yymin'] = d[['y','y2','y3']].min(axis=1)
d['yymax'] = d[['y','y2','y3']].max(axis=1)
d['yy'] = d[['y','y2','y3']].sum(axis=1) - d['yymax']

In [45]:
d = d.sort_values('yy',ascending=False).reset_index(drop=True)
d

,is_risk,rowkey,y,y2,y3,yy,yymin,yymax
0,1,759124,0.932931,0.509323,0.984288,1.442254,0.509323,0.984288
1,1,757002,0.911895,0.504133,0.924840,1.416028,0.504133,0.924840
2,1,756804,0.902701,0.502972,0.896534,1.399506,0.502972,0.902701
3,1,758150,0.918475,0.504544,0.864071,1.368615,0.504544,0.918475
4,1,759540,0.905213,0.512862,0.851826,1.364688,0.512862,0.905213
5,1,737666,0.882007,0.513542,0.829649,1.343192,0.513542,0.882007
6,1,758749,0.841781,0.496850,0.908591,1.338631,0.496850,0.908591
7,1,755883,0.979718,0.501715,0.835978,1.337693,0.501715,0.979718
8,1,758960,0.883762,0.497488,0.827948,1.325436,0.497488,0.883762
9,1,785025,0.763625,0.515455,0.818648,1.279080,0.515455,0.818648
10,1,785010,0.761552,0.511667,0.819738,1.273219,0.511667,0.819738
11,1,757171,0.740348,0.515470,0.732711,1.248181,0.515470,0.740348
12,1,846156,0.718172,0.511968,0.826658,1.230140,0.511968,0.826658
13,1,846104,0.720523,0.508826,0.787757,1.229348,0.508826,0.787757
14,1,923651,0.717878,0.510201,0.699132,1.209333,0.510201,0.717878
15,1,749473,0.778707,0.495880,0.689429,1.185310,0.495880,0.778707
16,1,784916,0.669232,0.509786,0.771976,1.179018,0.509786,0.771976
17,1,784864,0.665579,0.506643,0.805510,1.172222,0.506643,0.805510
18,1,918797,0.847066,0.498865,0.633573,1.132438,0.498865,0.847066
19,1,784980,0.588324,0.513152,0.751991,1.101476,0.513152,0.751991
20,1,929869,0.575341,0.516687,0.644468,1.092029,0.516687,0.644468
21,1,769133,0.852337,0.509652,0.579766,1.089418,0.509652,0.852337
22,1,769097,0.861972,0.505862,0.581557,1.087419,0.505862,0.861972
23,1,769053,0.876457,0.500837,0.562404,1.063241,0.500837,0.876457
24,1,769076,0.861769,0.507348,0.531395,1.038743,0.507348,0.861769
25,1,769073,0.840117,0.503980,0.496590,1.000570,0.496590,0.840117
26,1,769859,0.814017,0.489886,0.508932,0.998818,0.489886,0.814017
27,1,930243,0.823872,0.500530,0.461988,0.962518,0.461988,0.823872
28,0,884465,0.413676,0.526404,0.520883,0.934559,0.413676,0.526404
29,1,756803,0.782448,0.507789,0.383606,0.891395,0.383606,0.782448
30,0,883700,0.423076,0.510106,0.252051,0.675127,0.252051,0.510106
31,1,918207,0.137012,0.512305,0.518681,0.649318,0.137012,0.518681
32,1,778801,0.465845,0.510101,0.182412,0.648256,0.182412,0.510101
33,1,784843,0.482835,0.511256,0.153036,0.635871,0.153036,0.511256
34,1,930081,0.382974,0.512607,0.230006,0.612980,0.230006,0.512607
35,0,840438,0.132205,0.509950,0.387645,0.519850,0.132205,0.509950
36,1,930071,0.281323,0.509241,0.150822,0.432145,0.150822,0.509241
37,1,919182,0.161028,0.511625,0.259925,0.420953,0.161028,0.511625
38,1,784797,0.291427,0.508952,0.115250,0.406677,0.115250,0.508952
39,0,918186,0.050695,0.508468,0.115127,0.165823,0.050695,0.508468
40,0,742101,0.037763,0.511189,0.034613,0.072376,0.034613,0.511189
41,0,742073,0.036284,0.511189,0.032110,0.068393,0.032110,0.511189