In [1]:
# coding:utf-8

import pandas as pd
import numpy as np
import os,sys 
from multiprocessing import Pool
import matplotlib.pyplot as plt

In [2]:
xgb100_val = pd.read_csv('../datas/xgb100_yval_pred')
xgb100_val.head()

   is_risk  rowkey         y
0        1  785025  0.658423
1        1  785010  0.658423
2        1  758150  0.636646
3        1  784980  0.626157
4        1  758960  0.623507

In [52]:
xgb100_val['a'] = xgb100_val['rowkey'].map(lambda x:1 if x in a else 0)
xgb100_val.head(5)

   is_risk  rowkey         y   rang  cnt    recall  precision         f  a
0        1  785025  0.658423  28121    1  0.003115        1.0  0.239905  1
1        1  785010  0.658423  28120    2  0.006231        1.0  0.387716  1
2        1  758150  0.636646  28119    3  0.009346        1.0  0.487923  1
3        1  784980  0.626157  28118    4  0.012461        1.0  0.560333  1
4        1  758960  0.623507  28117    5  0.015576        1.0  0.615104  1

In [61]:
xgb100_val = xgb100_val.sort_values(['a'],ascending=False).reset_index(drop=True)
xgb100_val.head(5)

   is_risk  rowkey         y   rang  cnt    recall  precision         f  a
0        1  785025  0.658423  28121    1  0.003115        1.0  0.239905  1
1        1  768880  0.273332  27833   29  0.090343        1.0  0.909345  1
2        1  769073  0.426887  28059   22  0.068536        1.0  0.881396  1
3        1  778801  0.389354  28039   23  0.071651        1.0  0.886303  1
4        1  929869  0.385027  28036   24  0.074766        1.0  0.890849  1

In [62]:
xs = xgb100_val[xgb100_val['is_risk']==1].shape[0]
n = 0
def f(x):
    global n
    n += x
    return n
xgb100_val['cnt'] = xgb100_val['is_risk'].map(f)
xgb100_val['recall'] = 1.0*xgb100_val['cnt']/xs
xgb100_val['precision'] = 1.0*xgb100_val['cnt']/(1+xgb100_val.index)
xgb100_val['f'] =(1+0.1*0.1)*xgb100_val['precision']*xgb100_val['recall']/(0.1*0.1*xgb100_val['precision']+xgb100_val['recall'])
xgb100_val.head()

   is_risk  rowkey         y   rang  cnt    recall  precision         f  a
0        1  785025  0.658423  28121    1  0.003115        1.0  0.239905  1
1        1  768880  0.273332  27833    2  0.006231        1.0  0.387716  1
2        1  769073  0.426887  28059    3  0.009346        1.0  0.487923  1
3        1  778801  0.389354  28039    4  0.012461        1.0  0.560333  1
4        1  929869  0.385027  28036    5  0.015576        1.0  0.615104  1

In [63]:
xgb100_val.head(40)

    is_risk  rowkey         y   rang  cnt    recall  precision         f  a
0         1  785025  0.658423  28121    1  0.003115   1.000000  0.239905  1
1         1  768880  0.273332  27833    2  0.006231   1.000000  0.387716  1
2         1  769073  0.426887  28059    3  0.009346   1.000000  0.487923  1
3         1  778801  0.389354  28039    4  0.012461   1.000000  0.560333  1
4         1  929869  0.385027  28036    5  0.015576   1.000000  0.615104  1
5         1  757171  0.379280  28030    6  0.018692   1.000000  0.657980  1
6         1  930081  0.313695  27942    7  0.021807   1.000000  0.692458  1
7         1  784843  0.300465  27927    8  0.024922   1.000000  0.720785  1
8         1  768892  0.288918  27889    9  0.028037   1.000000  0.744472  1
9         1  759526  0.268486  27820   10  0.031153   1.000000  0.764572  1
10        1  846156  0.478235  28088   11  0.034268   1.000000  0.781844  1
11        1  756803  0.215045  27540   12  0.037383   1.000000  0.796844  1
12        0  874181  0.573184  28112   12  0.037383   0.923077  0.747687  1
13        0  781258  0.569610  28111   12  0.037383   0.857143  0.704242  1
14        0  933267  0.558170  28110   12  0.037383   0.800000  0.665568  1
15        0  884465  0.466601  28081   12  0.037383   0.750000  0.630921  1
16        0  752396  0.139939  25761   12  0.037383   0.705882  0.599703  1
17        1  785010  0.658423  28120   13  0.040498   0.722222  0.619048  1
18        1  919182  0.445700  28068   14  0.043614   0.736842  0.636650  1
19        1  768826  0.190953  27248   15  0.046729   0.750000  0.652736  1
20        1  759540  0.482980  28091   16  0.049844   0.761905  0.667493  1
21        1  757002  0.555653  28109   17  0.052960   0.772727  0.681079  1
22        1  758150  0.636646  28119   18  0.056075   0.782609  0.693628  1
23        1  846104  0.483006  28092   19  0.059190   0.791667  0.705255  1
24        1  784980  0.626157  28118   20  0.062305   0.800000  0.716058  1
25        1  758960  0.623507  28117   21  0.065421   0.807692  0.726121  1
26        1  756804  0.610295  28115   22  0.068536   0.814815  0.735518  1
27        1  759124  0.601109  28114   23  0.071651   0.821429  0.744313  1
28        1  784864  0.586314  28113   24  0.074766   0.827586  0.752561  1
29        1  784916  0.615666  28116   25  0.077882   0.833333  0.760313  1
30        1  918797  0.545521  28108   26  0.080997   0.838710  0.767612  1
31        1  769133  0.544640  28107   27  0.084112   0.843750  0.774496  1
32        1  769097  0.544640  28106   28  0.087227   0.848485  0.781000  1
33        1  737666  0.531408  28105   29  0.090343   0.852941  0.787154  1
34        1  740390  0.519215  28104   30  0.093458   0.857143  0.792986  1
35        1  769076  0.498505  28096   31  0.096573   0.861111  0.798521  1
36        1  923651  0.518935  28103   32  0.099688   0.864865  0.803780  1
37        0  909224  0.079682   9398   32  0.099688   0.842105  0.784276  0
38        0  908650  0.079682   9402   32  0.099688   0.820513  0.765695  0
39        0  797881  0.079682   9401   32  0.099688   0.800000  0.747975  0

In [16]:
xr = range(xgb100_val.shape[0])
xr = xr[::-1]

In [17]:
xgb100_val['rang'] = xr
xgb100_val.head()

   is_risk  rowkey         y   rang
0        1  785025  0.658423  28121
1        1  785010  0.658423  28120
2        1  758150  0.636646  28119
3        1  784980  0.626157  28118
4        1  758960  0.623507  28117

In [19]:
adboost80_val = pd.read_csv('../datas/adboost80_yval_pred')
adboost80_val['range'] = xr
adboost80_val.head()

   is_risk  rowkey         y  range
0        0  884465  0.522557  28121
1        1  919182  0.517512  28120
2        1  785025  0.514934  28119
3        1  769133  0.514802  28118
4        1  846156  0.514257  28117

In [44]:
xs = adboost80_val[adboost80_val['is_risk']==1].shape[0]
n = 0
def f(x):
    global n
    n += x
    return n
adboost80_val['cnt'] = adboost80_val['is_risk'].map(f)
adboost80_val['recall'] = 1.0*adboost80_val['cnt']/xs
adboost80_val['precision'] = 1.0*adboost80_val['cnt']/(1+adboost80_val.index)
adboost80_val['f'] =(1+0.1*0.1)*adboost80_val['precision']*adboost80_val['recall']/(0.1*0.1*adboost80_val['precision']+adboost80_val['recall'])
adboost80_val.head()

   is_risk  rowkey         y  range  cnt    recall  precision         f
0        0  884465  0.522557  28121    0  0.000000   0.000000       NaN
1        1  919182  0.517512  28120    1  0.003115   0.500000  0.193858
2        1  785025  0.514934  28119    2  0.006231   0.666667  0.325282
3        1  769133  0.514802  28118    3  0.009346   0.750000  0.420250
4        1  846156  0.514257  28117    4  0.012461   0.800000  0.492083

In [45]:
adboost80_val.head(30)

    is_risk  rowkey         y  range  cnt    recall  precision         f
0         0  884465  0.522557  28121    0  0.000000   0.000000       NaN
1         1  919182  0.517512  28120    1  0.003115   0.500000  0.193858
2         1  785025  0.514934  28119    2  0.006231   0.666667  0.325282
3         1  769133  0.514802  28118    3  0.009346   0.750000  0.420250
4         1  846156  0.514257  28117    4  0.012461   0.800000  0.492083
5         1  929869  0.513463  28116    5  0.015576   0.833333  0.548317
6         1  757171  0.513184  28115    6  0.018692   0.857143  0.593536
7         1  784980  0.512892  28114    7  0.021807   0.875000  0.630687
8         1  769076  0.512761  28113    8  0.024922   0.888889  0.661753
9         0  752396  0.512709  28112    8  0.024922   0.800000  0.611658
10        1  759540  0.512238  28111    9  0.028037   0.818182  0.639690
11        1  768892  0.511411  28110   10  0.031153   0.833333  0.664037
12        1  785010  0.511301  28109   11  0.034268   0.846154  0.685379
13        1  769097  0.511169  28108   12  0.037383   0.857143  0.704242
14        1  846104  0.511116  28107   13  0.040498   0.866667  0.721032
15        1  759526  0.509946  28106   14  0.043614   0.875000  0.736075
16        1  784916  0.509535  28105   15  0.046729   0.882353  0.749629
17        1  769073  0.509403  28104   16  0.049844   0.888889  0.761905
18        1  768826  0.509369  28103   17  0.052960   0.894737  0.773075
19        1  778801  0.507800  28102   18  0.056075   0.900000  0.783283
20        1  784843  0.507800  28101   19  0.059190   0.904762  0.792648
21        1  768880  0.507777  28100   20  0.062305   0.909091  0.801269
22        1  756803  0.507072  28099   21  0.065421   0.913043  0.809233
23        1  930081  0.507066  28098   22  0.068536   0.916667  0.816612
24        1  758150  0.507065  28097   23  0.071651   0.920000  0.823467
25        1  759124  0.506910  28096   24  0.074766   0.923077  0.829853
26        0  864794  0.506821  28095   24  0.074766   0.888889  0.802383
27        0  886701  0.506793  28094   24  0.074766   0.857143  0.776674
28        0  886486  0.506793  28093   24  0.074766   0.827586  0.752561
29        0  886448  0.506793  28092   24  0.074766   0.800000  0.729901

In [46]:
d1 = adboost80_val[adboost80_val['y']>=0.506910][['rowkey','is_risk','y']]
d2 = xgb100_val[xgb100_val['y']>=0.518935][['rowkey','is_risk','y']]

In [48]:
a = set(d1['rowkey'].values.tolist() + d2['rowkey'].values.tolist())

In [50]:
len(a),d1['rowkey'].shape[0],d2['rowkey'].shape[0]

(37, 25, 19)

In [21]:
d = xgb100_val[['rowkey','rang','is_risk']].merge(adboost80_val[['rowkey','range']],on='rowkey')
d.head()

   rowkey   rang  is_risk  range
0  785025  28121        1  28119
1  785010  28120        1  28109
2  758150  28119        1  28097
3  784980  28118        1  28114
4  758960  28117        1  27855

In [23]:
d['y'] = 1.0*(d['rang'] + d['range'])/(2*xgb100_val.shape[0])
d.head()

   rowkey   rang  is_risk  range         y
0  785025  28121        1  28119  0.999929
1  785010  28120        1  28109  0.999733
2  758150  28119        1  28097  0.999502
3  784980  28118        1  28114  0.999787
4  758960  28117        1  27855  0.995164

In [24]:
d = d.sort_values('y',ascending=False)
d.head(20)

    rowkey   rang  is_risk  range         y
0   785025  28121        1  28119  0.999929
3   784980  28118        1  28114  0.999787
1   785010  28120        1  28109  0.999733
14  769133  28107        1  28118  0.999662
5   784916  28116        1  28105  0.999591
2   758150  28119        1  28097  0.999502
15  769097  28106        1  28108  0.999467
7   759124  28114        1  28096  0.999395
25  769076  28096        1  28113  0.999378
33  846156  28088        1  28117  0.999307
40  884465  28081        0  28121  0.999253
30  759540  28091        1  28111  0.999253
8   784864  28113        1  28087  0.999218
29  846104  28092        1  28107  0.999200
26  886701  28095        0  28094  0.999022
23  886805  28098        0  28091  0.999022
53  919182  28068        1  28120  0.999004
62  769073  28059        1  28104  0.998560
37  840438  28084        0  28077  0.998524
85  929869  28036        1  28116  0.998364