In [1]:
# coding:utf-8

import pandas as pd
import numpy as np

In [6]:
login = pd.read_csv('../datas/t_login.csv')

In [49]:
t5 = login[(login['time']<'2015-07-01 13:00:29.0')]
t5 = t5[(t5['time']>'2015-06-01 00:43:43.0')]
t5 = t5[(t5['time']<'2015-06-23 00:43:43.0')]

t5[t5['id']==125499].sort_values('time').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,8.544854e+15,10607.0,849540,1,1147009,63,1,1.434566e+09,3,125499,False,False,2015-06-18 02:26:25
1,4.456127e+16,5000.0,173429,2,1147009,63,1,1.434566e+09,3,125499,False,False,2015-06-18 02:39:37
2,3.516041e+15,6000.0,377722,2,830450,63,1,1.434568e+09,3,125499,False,False,2015-06-18 03:05:13
3,5.798824e+15,7000.0,377722,2,830450,63,1,1.434574e+09,3,125499,False,False,2015-06-18 04:46:13
4,3.520621e+16,11710.0,930022,1,1147009,63,1,1.434575e+09,3,125499,False,False,2015-06-18 05:00:01
5,7.312334e+15,14096.0,849540,1,1147009,63,1,1.434575e+09,3,125499,False,False,2015-06-18 05:03:14
6,5.492294e+14,8000.0,377722,2,451870,70,1,1.434582e+09,3,125499,False,False,2015-06-18 06:59:16
7,7.662335e+15,7000.0,377722,2,830450,63,1,1.434582e+09,3,125499,False,False,2015-06-18 06:59:26
8,3.267189e+16,5000.0,377722,2,830450,63,1,1.434596e+09,3,125499,False,False,2015-06-18 10:48:55
9,9.795397e+15,6000.0,377722,2,830450,63,1,1.434611e+09,3,125499,False,False,2015-06-18 14:55:15
10,5.755419e+15,8000.0,835072,2,830450,63,1,1.434612e+09,3,125499,False,False,2015-06-18 15:16:34
11,4.994843e+15,6000.0,835072,2,830450,63,1,1.434612e+09,3,125499,False,False,2015-06-18 15:16:34
12,7.351957e+15,6000.0,458636,2,451870,70,1,1.434613e+09,3,125499,False,False,2015-06-18 15:42:38
13,9.869110e+15,5000.0,875118,2,1300613,58,31,1.434614e+09,3,125499,False,False,2015-06-18 15:51:03
14,6.834697e+15,5000.0,458636,2,451870,70,31,1.434634e+09,3,125499,False,False,2015-06-18 21:31:13
15,1.020945e+16,24406.0,583870,1,447582,63,31,1.434673e+09,3,125499,False,False,2015-06-19 08:21:35
16,5.970597e+15,33276.0,583870,1,447582,63,1,1.434674e+09,3,125499,False,False,2015-06-19 08:25:00
17,1.169448e+16,9164.0,583870,1,447582,63,31,1.434674e+09,3,125499,False,False,2015-06-19 08:33:41
18,5.702308e+16,17142.0,583870,1,447582,63,1,1.434674e+09,3,125499,False,False,2015-06-19 08:33:49
19,3.151099e+15,13550.0,583870,1,187146,63,31,1.434680e+09,3,125499,False,False,2015-06-19 10:19:31
20,2.472345e+14,24088.0,583870,1,187146,63,1,1.434680e+09,3,125499,False,False,2015-06-19 10:19:42
21,7.782772e+15,6209.0,583870,1,187146,63,31,1.434694e+09,3,125499,False,False,2015-06-19 14:06:51
22,8.010096e+15,14147.0,583870,1,187146,63,-2,1.434694e+09,3,125499,False,False,2015-06-19 14:06:59
23,4.723482e+16,6000.0,191348,2,187146,63,1,1.434696e+09,3,125499,False,False,2015-06-19 14:37:19
24,4.526073e+16,3.0,982651,10,999063,63,1,1.434708e+09,1,125499,True,False,2015-06-19 18:05:15
25,2.458610e+16,3.0,982651,10,999063,63,1,1.434709e+09,1,125499,True,False,2015-06-19 18:21:29
26,8.584246e+15,4.0,982651,10,999063,63,1,1.434711e+09,1,125499,True,False,2015-06-19 18:44:48
27,6.746390e+15,13027.0,583870,1,187146,63,31,1.434845e+09,3,125499,False,False,2015-06-21 08:01:14
28,7.072797e+15,21222.0,583870,1,187146,63,31,1.434845e+09,3,125499,False,False,2015-06-21 08:01:22
29,1.999574e+16,28047.0,583870,1,187146,63,31,1.434845e+09,3,125499,False,False,2015-06-21 08:01:29
30,9.849842e+15,7000.0,875118,2,1155736,63,31,1.434860e+09,3,125499,False,False,2015-06-21 12:08:07
31,1.847268e+16,6000.0,875118,2,1155736,63,1,1.434860e+09,3,125499,False,False,2015-06-21 12:08:18
32,2.889761e+16,4.0,69848,10,830450,63,1,1.434963e+09,1,125499,True,False,2015-06-22 16:51:44
33,3.358156e+15,7000.0,191348,2,311082,194,31,1.434977e+09,3,125499,False,False,2015-06-22 20:35:49
34,3.791646e+15,7000.0,191348,2,311082,194,1,1.434977e+09,3,125499,False,False,2015-06-22 20:35:57
35,1.198278e+16,7000.0,191348,2,1433400,58,1,1.434986e+09,3,125499,False,False,2015-06-22 23:06:49

In [39]:
t5[t5['ip']==175103].sort_values('time').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,4.264209e+15,8598.0,234055,1,175103,430,1,1.435238e+09,1,111962,False,False,2015-06-25 21:19:53

In [44]:
t5[t5['device']==41327].sort_values('time').reset_index(drop=True)

,log_id,timelong,device,log_from,ip,city,result,timestamp,type,id,is_scan,is_sec,time
0,1.526866e+15,17500.0,41327,1,837294,430,1,1.435299e+09,1,101566,False,False,2015-06-26 14:06:17
1,7.675945e+15,10379.0,41327,1,309044,430,1,1.435383e+09,1,101566,False,False,2015-06-27 13:36:34
2,1.873524e+15,9963.0,41327,1,616323,58,1,1.435647e+09,3,137854,False,False,2015-06-30 14:44:35
3,3.059566e+16,8145.0,41327,1,616323,58,31,1.435657e+09,3,137854,False,False,2015-06-30 17:32:41